html, body {
	font-size: 1.5rem;
	min-height: 100%;
}

html {
	font-family: 'Source Sans 3', sans-serif !important;
	font-weight: 400;
}


#root {
	display: block;
	height: 100%;
}

.wrapper {
	display: flex;
	overflow-x: hidden;
	background-color: #f4f6f9;
	min-height: 100%;
}

.header {
	text-align: right;
	font-size: 0.8rem !important;
	color: #333;
	padding: 50;
	line-height: 64px;
	background-color: #fff;
	&__info {
		display: inline-flex;
		justify-content: right;
		align-items: center;
		gap: 10px;
		letter-spacing: 0.1px;
		font-weight: 700;
		transition: all .3s ease;
		&:hover {
			opacity: .8;
		}
	}
}

.content {
	padding: 25px;
	text-align: center;
	line-height: 120px;
	color: #fff;
}

.sider {
	text-align: center;
	line-height: 1.2;
	flex: 0 0 auto !important;
	max-width: 240px !important;
	width: auto !important;
	color: #fff;
	background-color: #3ba0e9 !important;
	.logo {
		display: inline-flex;
		align-items: center;
		font-size: 1.25rem;
		font-weight: 700;
		transition: opacity .2s ease;
		&:hover {
			opacity: .7;
		}
	}
	a {
		color: inherit;
	}
}

.footer {
	text-align: center;
	color: #fff;
	background-color: #7dbcea;
}